<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Интервалы</title>
    <link rel="stylesheet" href="/styles/index_style.css">
</head>
<body>
<header class="header">
    <h1 class="logo">
        <a href="/" style="color: white; text-decoration: none;">
            <img src="/static/img/image.png" alt="Логотип">
            Интервалы
        </a>
    </h1>
</header>

<div class="space">
    <form action="/" method="GET" class="search-form">
        <input type="text" name="query" placeholder="Поиск интервала" value="{{ .query }}">
        <button type="submit">🔎</button>
    </form>
    <div class="container">
        {{ range .intervals }}
        <div class="card">
            <img src="{{ .Photo }}" alt="img" class="img">
            <h2>{{ .Title }}</h2>
            <p class="desc">{{ .Description }}</p>
            <p class="tone">{{ .Tone }} тон</p>
            <div class="row" style="display: flex; justify-content: space-between; gap: 10px; align-self: start; margin-left: 20px;">
                <a href="/interval/{{ .ID }}" class="btn more">Подробнее</a>
                <form method="POST" action="/composition/add">
                    <input type="hidden" name="interval_id" value="{{ .ID }}">
                    <button class="btn add">Добавить</button>
                </form>
            </div>
        </div>
        {{ end }}
    </div>
</div>

<a href="/composition/{{ .composition_ID }}" style="width: 130px; height: 130px;">
    <img src="/static/img/loupe.png" style="height: 100px; width: 100px;" alt="Корзина">
    {{ if .composition_count }}
    <span class="cart-badge">{{ .composition_count }}</span>
    {{ end }}
</a>
</body>
</html>
